* {
    box-sizing: border-box;
}

body{
    background-color: #edd900;
}

h1{
    text-align: center;
    margin: 0;
    padding: 80px 0 20px 0;
    font-family: 'Tourney', cursive;
    font-size: 60px;
    color: #242424;
}

#drum-machine{
    display: flex;
    flex-direction: row;
    width: 660px;
    background-color: #242424;
    border-radius: 4px;
    margin: 0 auto;
  /*   margin-top: 100px; */
}

#left{
    width: 60%;
}

#drum-pads{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.drum-pad{
    background-color: #d6d4d2;
    width: 28%;
    margin: 7px;
    text-align: center;
    height:70px;
    line-height:70px;
    border-radius: 8px;
    font-family: 'Tourney', cursive;
    font-size: 25px;
    color: #2b2b2b;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none;
}

.drum-pad:hover{
    cursor: pointer;
}

.pad-active:active{
    background-color: #b175ff;
}

#buttons {
    margin: 10px 0 0 25px;
    display: flex;
    flex-direction: row;
}

#button {
    margin: 0 15px 0 0;
    width: 80px;
    display: flex;
    flex-direction: column;
}

#button p {
    margin: 0;
    text-align: center;
    color: #ebebeb;
    font-family: impact, arial;
    font-size: 14px;
    font-weight: light;
}

#button button{
    margin: 0 auto;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid green;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color: #1d261e;
    color: #d6d4d2;
}

#button button:hover{
    cursor: pointer;
}

.volumes{
    color: #ebebeb;
    font-family: impact, arial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
}
.volumes p{
    display: block;
    text-align: center;
    
}

.volume-p{
    font-size: 14px;
    font-weight: light;
    margin: 10px 0 5px 10px;
}

.volume-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    margin: 10px 10px 5px 0;
}

.volume-btns p{
    width: 70px;
    margin: 0 10px;
    padding: 5px;
    font-size: 12px;
    background-color: #1d261e;
    color: #00ff77;
    font-family: 'Press Start 2P', cursive;
}

.volume-btns button{
    background-color: #d6d4d2;
    text-align: center;
    height: 20px;
    line-height:20px;
    width: 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Tourney', cursive;
    font-size: 10px;
    color: #2b2b2b;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none;
}

.volume-btns button:hover{
    cursor: pointer;
}

.volume-active:active{
    background-color: #d64949;
}


#display {
    background-color: #1d261e;
    width: 230px;
    height: 100px;
    margin: 10px 0 0 0;
}

#display p {
    display: block;
    color: #00ff77;
    width: 100%;
    height: 100px;
    line-height: 90px;
    text-align: center;
    border: 10px solid #424242;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

.logo {
    font-family: impact, arial;
    font-size: 30px;
    margin: 15px 0 0 80px;
}

@media(max-width: 750px){
    h1{
        font-size: 40px;
        padding: 30px 0 20px 0;
    }
    
    #drum-machine{
        flex-direction: column;
        width: 90vw;
    }

    #left{
        width: 100%;
        margin: 0 auto;
    }

    #drum-pads{
        padding: 5px;
        margin: 0 auto;
        width: 100%;
        /* background-color: #00ff77; */
    }

    .drum-pad{
        background-color: #d6d4d2;
        width: 30%;
        margin: 5px;
    }

    #buttons{
        justify-content: space-evenly;
    }

    .volumes{
        justify-content: center;
    }

    .volume-p{
        margin-right: 20px;
    }

    #display{
        margin: 0 auto;
    }

    .logo {
        text-align: right;
        margin: 10px;
    }
}

@media(max-width: 350px){
    h1{
        padding-top: 5px;
        font-size: 30px;
    }
    #drum-machine{
        width: 95vw;
    }

    #drum-pads{
        width: 100%;
        /* background-color: #00ff77; */
    }

    .drum-pad{
        background-color: #d6d4d2;
        width: 31.7%;
        margin: 2px;
    }
}